<div class="mt-4">
    <h3 class="name">Đăng khóa học</h3>
    <div class="mb-3">
        <form action="/course/store" method="post">
        <div class="form-control">
            <label for="formGroupExampleInput" class="name">Tên khóa học</label><br>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập tên khóa học" name="Name">
        </div>
        <div class="form-control">
            <label for="formGroupExampleInput" class="description">Mô tả</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Mô tả khóa học" name="description">
        </div>
        <div class="form-control">
            <label for="formGroupExampleInput" class="videoID">videoID</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập Video-id" name="videoID">
        </div>
        <div class="form-control">
            <label for="formGroupExampleInput" class="level">Trình độ</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập trình độ" name="level">
        </div>
    <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
    </form>
</div>
</div>